.env
/.env
.venv
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local



vscode
.vscode
.idea
.idea/
venv
*/__pycache__


__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sql
*.log
*.cache
*.out
*.pid
*.pidlock
*.pkl
